<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowShip Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<h1>Welcome Class to Spring Security</h1>


<a th:href="@{/signup}" class="badge badge-primary">Sign UP </a>
<span>          </span>
<a th:href="@{/login}" class="badge badge-success">Login</a>
<span>          </span>
<a th:href="@{/profile}" class="badge badge-info">Profile</a>


</body>
</html>